
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img {
    width: 45%;
  }

  .wrap
  {
    padding: 15px;
  }

  .wikidata_logo_pos {
    text-align: center;
    background-size: contain;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100px;
  }

  .w3-bar w3-border w3-light-grey a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  .searchbar {
    float: center;
  }

  .searchbar input[type=text] {
    padding: 6px;
    margin-top: 10%;
    margin-left: 18%;
    font-size: 17px;
  }

  .searchbar button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .searchbar button:hover {
    background: #ccc;
  }


  .PositionVideo{
    display:block;
    border: 5px solid;
    border-color: #d43526 #61cb85 #378ac5 #52966a;
  }
