
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img {
    width: 45%;
  }

  .wrap
  {
    padding: 15px;
  }

  .wikidata_logo_pos {
    text-align: center;
    background-size: contain;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100px;
  }

  .w3-bar w3-border w3-light-grey a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  .searchbar {
    float: center;
    width: auto;
    height: auto;
  }

  .searchbar input[type=text] {
    padding: 6px;
    margin-top: 0%;
    margin-left: 18%;
    font-size: 17px;
  }

  .searchbar-button {
    height: 36px;
    width: auto;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    border: 1px solid rgb(14, 13, 13); 
  }

  .searchbar-button:hover {
    background: #ccc;
  }


  .PositionVideo{
    display:block;
    border: 5px solid;
    border-color: #d43526 #61cb85 #378ac5 #52966a;
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto;
  }


  .profile-container{
    flex-flow: row wrap;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .profile{
    flex-basis: 30%;
    padding: 3rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    background-color: rgb(243, 242, 242);
    margin: 5px;
    border-radius: 5%;
    min-height: 300px;
    min-width: 200px;

  }

  .img{
    border-radius: 0;
    transition: 500ms;
    border-radius: 5%;
    display: inline-block;
    overflow: hidden;
    /* height: 200px;
    width: 200px; */
  }

  .img:hover{
    opacity: 80%;
    transform: scale(1.1);
  }

  .profile-name{
    color: #000830;
    font-weight: bold;
  }

  .fun{
    flex-basis: 40%;
    padding: 2rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
  }
  .fun-img{
    border-radius: 0;
    transition: 500ms;
    border-radius: 5%;
    display: inline-block;
    overflow: hidden;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(14, 13, 13);
  }

  .fun-img:hover{
    opacity: 80%;
    transform: scale(1.1);
  }
